<div class="image">
    <img class="home" src="../../assets/movie.jpg"/>
    <div class="title">
        <h1>WE ARE</h1>
        <p style="font-size:70px;">MOVIE BUFFS</p>
    </div>
</div>

<br><br>

<div class="div1" style="text-align:center">
<p>
    24 years ago in South Africa a seed of an idea was planted,
     a dream was shared. Inception happened. 
     22 years on, we look back at what we have built. 
     Leave it up to us, and we'd love to do it
      all over again. Here is our story
</p>
</div>

<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
        <mat-card-content>
            <p style="font-size:40PX;">50 Million+</p>
            <p>APP DOWNLOADS</p>
        </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card-content>
            <p style="font-size:40px;">15 Million+</p>
            <p>TICKETS A MONTH</p>
    </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card-content>
            <p style="font-size:40px;">2 Billion+</p>
            <p>PAGE VIEWS A MONTH</p>
        </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>

  <br>

  <div class="facts" style="text-align:center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:20px">
    <p>Quick Facts</p>

    <mat-grid-list cols="4" rowHeight="4:2" style="margin-top:25px">
        <mat-grid-tile>
            <mat-card-content>
                <img src="../../assets/customer.png" style="width:100px; height:100px">
                <p style="font-size:30px;">30 Million+</p>
                <p style="font-size:15px;">CUSTOMERS</p>
            </mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card-content>
                <img src="../../assets/map.webp" style="width:100px; height:100px">
                <p style="font-size:30px;">5</p>
                <p style="font-size:15px;">COUNTRIES</p>
            </mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card-content>
                <img src="../../assets/globe.png" style="width:100px; height:100px">
                <p style="font-size:30px;">650+</p>
                <p style="font-size:15px;">TOWNS AND CITIES</p>
            </mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card-content>
                <img src="../../assets/screen.webp" style="width:100px; height:100px">
                <p style="font-size:30px;">5000+</p>
                <p style="font-size:15px;">SCREENS</p>
            </mat-card-content>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
