<h2 style="background-color:gray">
    <mat-icon> border_color</mat-icon>
    <b>    List your Shows</b>  
    Got a show, event, activity or a great experience? Partner with us and get listed on TicketNow
</h2>
<mat-grid-list cols="3" rowHeight="3:1" style="background-color:lightgray; margin-top:-16px">
    <mat-grid-tile>
        <mat-card-content>
            <img src="../../assets/help.png">
            <p>24/7 SERVICE</p>
        </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card-content>
            <img src="../../assets/resend.png">
            <p>RESEND BOOKINGS</p>
        </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card-content>
            <img src="../../assets/sub.png">
            <p>SUBSCRIBE US</p>
        </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
  

  <div class="div1" style="background-color:gray">
    <h4>MOVIES NOW SHOWING IN HYDERABAD</h4>
    <p>Sprider-Man:Across The Spider-Verse | Zara Hatke Zara Bachke | Pareshan | 2018 | Ahimsa | Mem Famous | Nenu Student Sir! | Transformers: Rise of the Beasts | Bichagadu 2 | Fast X</p>
    <br>
    <h4>UPCOMING MOVIES IN HYDERABAD</h4>
    <p>Darbar (2023) | Por Thozhil | Umbrella | Vimanam | Lagilaa Ranga Golapi Golapi | Unstoppable | TDM | O.Baby | Char Fera Nu Chokdol | Mantaney | Melody Drama | Gadayuddha | Stabdha | Takkar | Aura | Fuleku | Maurh | Musandi | The Flash | Kai Jaarida Preethi</p>
    <br>
    <h4>MOVIES BY GENRE</h4>
    <p>Action | Drama | Thriller | Adventure | Romantic | Comedy | Crime | Sci-Fi | Animation |
         Anime | Fantasy 
        | Adaptation | Devotional | Mythological | Noir | Political | 
        Supernatural | Sports | Heist | Suspense | Historical | tragedy | Horror | Psychological | Mystery</p>
    <br>
    <h4>MOVIE REVIEWA AND TRENDING ARTICLES</h4>
    <p>Trending Articles | Latest News on Movies, Events, Plays and Sports | Movie Celebrities</p>
  </div>
<br>

  <div class="div2" style="text-align: center;">
    <img src="../../assets/ticket.png" style="width:200px; height: 100px">
    <br><br>

    <mat-icon>facebook</mat-icon>
    <mat-icon>perm_phone_msg</mat-icon>
    <mat-icon>payment</mat-icon>
    <mat-icon>room</mat-icon>
    <mat-icon>shop</mat-icon>
    <mat-icon> call</mat-icon>
    <mat-icon> chat</mat-icon>
    <mat-icon> contact_mail</mat-icon>
    <mat-icon> email</mat-icon>
    
    <br>
    <br>

    <div class="div3" style="background-color:lightgray">
    <p>Copyright 2023 
        <mat-icon>copyright</mat-icon>
        Ticket New Entertainment Pvt. Ltd. All Rights Reserved
    </p>
    <p>The content and images used on this site are copyright protected and 
        copyrights vests with respective owners. The usage of the
     content and images on this website is intended to promote the 
     works and no endorsement of the artist shall be 
    implied. Unauthorized use is prohibited and puniashable by law.
</p>
</div>
  </div>