
<div class="image">
    <img class="home" src="../../assets/home.webp"/>
    <div class="title">
        <h1>Watch Latest Movies </h1>
        <p><b>TicketNew </b>offers showtimes, movie tickets, reviews, trailers, concert tickets and events nearby. Also features promotional offers, coupons and ....</p>
    </div>
</div>

<div class="row">
    <h1><b>Recommended Movies</b></h1>
    <div class="column">
      <img src="../../assets/marvel.jpg" style="width:100%; height:200px">
      <h4>Avengers: Endgame</h4>
      <p style="margin-top:-10px">Action/Sci-fi</p>
    </div>
    <div class="column">
      <img src="../../assets/harry.avif" style="width:100%; height:200px" >
      <h4>Harry Potter</h4>
      <p style="margin-top:-10px">Fantasy/Adventure</p>
    </div>
    <div class="column">
      <img src="../../assets/pirates.jpeg" style="width:100%; height:200px">
      <h4>Pirates of the Caribbean</h4>
      <p style="margin-top:-10px">Adventure/Action</p>
    </div>
    <div class="column">
        <img src="../../assets/beast.jpeg" style="width:100%; height:200px">
        <h4>Beauty and the Beast</h4>
        <p style="margin-top:-10px">Romance/Fantasy</p>
      </div>
  </div>

  <app-premieres></app-premieres>
  