* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  .column h3{
    margin-top: -15px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

  .row2{
    display:flex;
  }