<div class="row" style="background-color:gray; color:white">
  <div class="row2">
    <div class="col2">
      <img src="../../assets/play.jpg" style="width:100px;height:100px;">
    </div>
    <div class="col2">
      <h1 style="margin-top:25px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><b>PREMIERES</b></h1>
    <p style="margin-top:-15px">Watch new movies at home, every Friday</p>
    </div>
  </div>
    <br><br> 

    
    <h1 style="margin-left:15px;">Premieres</h1>
    <p style="margin-top:-20px;margin-left:15px">Brand new releases every Friday</p>
    <div class="column">
      <img src="../../assets/sisu.avif" style="width:100%; height:300px">
      <h2 style="margin-left:15px"><b>Sisu</b></h2>
      <h3 style="margin-left:15px">English</h3>
    </div>
    <div class="column">
      <img src="../../assets/uttami.avif" style="width:100%; height:300px" >
      <h2><b>Uthami</b></h2>
      <h3>Malayalam</h3>
    </div>
    <div class="column">
      <img src="../../assets/whale.avif" style="width:100%; height:300px">
      <h2><b>The Whale</b></h2>
      <h3>English</h3>
    </div>
    <div class="column">
      <img src="../../assets/mob.avif" style="width:100%; height:300px">
      <h2><b>Mob Psycho 100: Season 1</b></h2>
      <h3>Japanese</h3>
    </div>
    <div class="column">
      <img src="../../assets/beatles.webp" style="width:100%; height:300px">
      <h2><b>The Beatles and India</b></h2>
      <h3>English</h3>
    </div>
  </div>